/*ELEMENTS*/

* {
  box-sizing: border-box;
}
html, body, main {
  height: 100%;
}
html {
  font-size: 14px;
  font-family: 'system-ui';
}
body {
  margin: 0;
  overflow: hidden;
  padding: 20px;
}
button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
ul {
  padding-left: 0;
  margin: 0;
}
li {
  list-style: none;
}
p, h1, h2, h3, h4, h5, h6 {
  margin: 0; 
}
input {
  width: 100%; 
}
header {
  margin-bottom: 20px;
  position: relative;
  /* padding: 20px; */
}

/*GENERAL*/

.dialog-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  justify-content: center;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
}
.dialog-display {
  width: 300px;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  z-index: 3;
  position: relative;
  padding: 15px;
  font-size: 1.33em;
  text-align: center;
}
.page {
  left: 0; 
  transition: all 500ms ease-out;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: white;
  padding: 20px;
}
.page-title {
  font-size: 1.5em;
}
.company-title {
	text-transform: capitalize;
	display: inline;
	padding-left: 10px;
}
.company-logo {
	max-height: 40px;
	border-radius: 50px;
    border: 1px solid lightgrey;
}
.logo-container {
	justify-content: center;
	align-items: center; 
}
.backscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 1;
}
.dim-backscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: grey;
  opacity: .75;
  z-index: 1;
}
.breadcrumbs {
  margin-bottom: 10px;
}
.breadcrumbs li {
  display: inline-block;
  margin-right: 5px; 
  cursor: pointer;
  color: #1D6BE0;
}

/*HEADER*/

.store-name {
  color: darkgrey;
  font-weight: 400;
}
.back-button {
	font-size: 2.5rem;
	font-weight: bold;
	color: #1D6BE0;
	border: none;
	cursor: pointer;
  background-color: transparent;
  position: absolute;
  top: 0px; 
}
#search-bar {
  background-color: lightgrey;
  border: 0;
  padding: 10px 10px 10px 40px;    
  border-radius: 10px;
  margin-top: 15px; 
}
#scan-icon {
  position: absolute;
  /* bottom: 28px;
    left: 31px; */
    bottom: 10px;
    left: 10px;
}

/*CATEGORIES PAGE*/

#categories-page {
  position: initial;
}
#categories-page.page {
  padding: 0;
}

/*CARDS*/

.cards {
  height: 75%;
 overflow: auto;
 margin-top: 10px;
}
.cards > ul {
 display: grid;
 grid-template-columns: repeat(auto-fill, 127px);
 justify-content: space-around;
 gap: 10px; 	
}
.card-image {
  height: 100px;
  width: 125px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  border-radius: 10px;
}
.category-card-image-container, .product-card-image-container {
  border-radius: 10px;
  cursor: pointer;
}
.category-card-image-container > button, .product-card-image-container > button {
  padding: 0;
  display: block;
  border-radius: 10px;
  border: 1px solid lightgrey;
}
.caption {
  margin: 0;
  line-height: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  display: -webkit-box; /*this makes the max num of lines to 2 and then puts an ellipsis on the overflow*/
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.original-price, .sale-price {
  margin: 0; 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*PRODUCT DETAIL VIEW*/

#store-availability {
  width: calc(100% - 40px);
  background-color: cornflowerblue;
  color: white;
  padding: 15px;
  border-radius: 10px;
  position: absolute;
  bottom: 10px;
  left: 20px;
  font-size: 1.1em;
  display: none;
}
.hero-container {
  position: relative;
  height: 40%;
  background-color: #f4f4f4;
}
.hero-header {
  width: calc(100% + 40px);
  height: 100%; 
  background-size: cover;
  background-position: center;
  position: relative;
  left: -20px;
}
#single-product-gallery-container {
  max-width: 50%;
  margin: auto;
  transform: scale(0.8);
}
.gallery-wrapper {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  height: 100%;
}
.product-gallery-image, .product-gallery-video {
  width: 100%; 
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.dropdown-container {
  width: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  padding: 10px;
  border-left: 0;
  border-right: 0;
  justify-content: space-between;
}
.dropdown-container select {
  text-align: right;
  border: 0;
  appearance: none;
}
.dropdown-container select:after {
  content: '&#8250;';
  width: 5px;
  margin-left: 5px;
  color: grey;
}
.arrow-container {
  align-items: center;
  cursor: pointer;
}
.right-arrow {
  margin-left: 10px;
  color: lightgrey;
  font-size: 2em;
  line-height: 0;
  position: relative;
  bottom: 2px;
}
.floating-dropdown-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  min-width: 25%;
  max-width: 50%; 
  box-shadow: 2px 0px 6px 1px grey;
  z-index: 3;
  max-height: 95%;
  overflow: auto;
}
.floating-dropdown-container li {
  border-top: 1px solid lightgrey;
  padding: 10px;
  padding-left: 25px;
  overflow-wrap: anywhere;
}
.floating-dropdown-container li.selected:before {
  content: "\2713";
  position: absolute;
  left: 10px;
  transform: rotate(-10deg);
}
#single-item-details {
  margin-bottom: 20px;
}
#product-detail-view div .dropdown-container:first-child {
  border-bottom: 0;
}
#single-item-details li {
  display: inline-block;
  margin-right: 5px; 
}
#single-item-name {
  margin: 20px 0;
}
#full-size-image-container {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#close-image-button {
  margin-bottom: 10px;
}

/*CAROUSEL - Overwrites glide.core.css - we are using the glidejs version 3.5.2 library - https://glidejs.com/ */ 

.glide__bullet {
  opacity: 0.5;
  background-color: #f4f4f4;
  margin: 0.5em;
}
.glide__bullet--active {
  opacity: 1;
}
.glide__bullets {
  bottom: 1em;
  text-align: center;
  transform: initial;
  position: initial;
  left: initial;
  display: block;
} 
/* .glide__bullet:hover, .glide__bullet:focus {
  border: initial;
  background-color: initial;
}  */
.glide__slides {
  height: 100%;
}

/*FILTER MENU*/

#filter-viewport {
	left: 75%;
	max-height: 66%;
    top: 40%;
    min-width: 40%; /*todo - media query?*/
    overflow-x: hidden; 
}
#filter-menu-title, #filter-options-title, #filter-options-footer {
	justify-content: space-between;
    background-color: #f4f4f4;
    padding: 10px;
    position: sticky; 
}
#filter-menu-title, #filter-options-title {
	top: 0; 
}
.filter > div {
	text-align: right;
    max-width: 75%;
    align-items: baseline; 
}
.filter-choice, .filter-right-arrow {
	color: lightgrey;
}
.filter-choice {
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.filter-right-arrow {
	margin-left: 5px;
	font-size: 1.5em;
    line-height: 0;
    /* position: relative;
    bottom: -2px;
    z-index: -1; */ /*we do this because the arrows remain visible in the top row (filter title) if they scroll behind it*/
}
#filter-secondary-menu {
	transition: all 500ms ease-out;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: white;
    overflow: auto; 
}
#filter-secondary-menu ul {
	height: 75%;
	margin-bottom: 10px; 
	overflow: auto;
}
#filter-options-container {
	padding: 10px; 	
}
#filter-options-filter {
  background-color: lightgrey;
  border: 0;
  padding: 10px 10px 10px 40px;    
  border-radius: 10px;
  margin-bottom: 10px; 
}
input[name="from-price"], input[name="to-price"] {
	width: 47%;
	padding: 10px;
	border: 1px solid lightgrey;
	border-radius: 5px; 
}
#filter-options-price > li > span {
	padding-top: 10px; 
}
#filter-options-footer {
	position: fixed;
    bottom: 0;
    width: 100%; 
}

/*ERROR MESSAGE*/

#error-message-container {
	z-index: 10;
}
#error-message-text {
	color: grey;
	border-bottom: 1px solid lightgrey;
	margin: 0;
	padding-bottom: 25px;
	overflow-wrap: anywhere;
}
#error-message-close-button {
	margin-top: 15px;
  color: #1D6BE0;
  font-size: 1.1em;
}

/*SPINNER*/

@keyframes spinner {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
#spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#spinner {
  width: 100px;
  height: 100px;
}
.spinner {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.75); 
  backface-visibility: hidden;
 /*  transform-origin: 0 0; */ 
}
.spinner div { box-sizing: content-box; }
.spinner div {
  left: 47.5px;
  top: 22px;
  position: absolute;
  animation: spinner linear 1s infinite;
  background: #b8b8b8;
  width: 5px;
  height: 16px;
  border-radius: 2.5px / 2.56px;
  transform-origin: 2.5px 28px;
}
.spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.8888888888888888s;
  background: #b8b8b8;
}
.spinner div:nth-child(2) {
  transform: rotate(40deg);
  animation-delay: -0.7777777777777778s;
  background: #b8b8b8;
}
.spinner div:nth-child(3) {
  transform: rotate(80deg);
  animation-delay: -0.6666666666666666s;
  background: #b8b8b8;
}
.spinner div:nth-child(4) {
  transform: rotate(120deg);
  animation-delay: -0.5555555555555556s;
  background: #b8b8b8;
}
.spinner div:nth-child(5) {
  transform: rotate(160deg);
  animation-delay: -0.4444444444444444s;
  background: #b8b8b8;
}
.spinner div:nth-child(6) {
  transform: rotate(200deg);
  animation-delay: -0.3333333333333333s;
  background: #b8b8b8;
}
.spinner div:nth-child(7) {
  transform: rotate(240deg);
  animation-delay: -0.2222222222222222s;
  background: #b8b8b8;
}
.spinner div:nth-child(8) {
  transform: rotate(280deg);
  animation-delay: -0.1111111111111111s;
  background: #b8b8b8;
}
.spinner div:nth-child(9) {
  transform: rotate(320deg);
  animation-delay: 0s;
  background: #b8b8b8;
}

/*POSITIONING*/

.flex-container-row {
  display: flex;
  flex-direction: row;
}

/*ACTIONS*/

.center-text {
	text-align: center; 
}
.right-text {
  text-align: right;
}
.color-red {
  color: red;
}
.color-green {
  color: green; 
}
.color-grey {
  color: lightgrey;
}
.color-blue {
	color: #1D6BE0;
}
.strike-through {
  text-decoration: line-through;
}
.display-none {
  display: none !important;
}
.hide {
  visibility: hidden;
}
.overflow-hidden {
	overflow: hidden !important; 
}
.space-between {
  justify-content: space-between;
}
.slidein {
	transform: translate3d(0, 0, 0);
}
.slide-out {
	transform: translate3d(2000px, 0, 0); 
  /*left: 3000px;*/
}

@media only screen and (min-device-width: 320px) and (max-device-width: 600px) and (-webkit-min-device-pixel-ratio: 2) {
	#filter-viewport {
		left: 50%;
		max-height: 85%;
		top: 50%;
		min-width: 75%;
	} 
}